<!DOCTYPE html>
<html lang="en">

<head>
    <script language="javascript" type="text/javascript">
        window.history.forward();
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <h1>COVID DETECTION FROM XRAY</h1>
        <div class="row justify-content-center">
            <div class="col-12">
                
                <br>
                <h3>Hello {{user.first_name}} {{user.last_name}}</h3>
                <h3></h3>
                <h3>Email: {{ user }}</h3>
                <br>
                <a href="../">LOGOUT</a>
                <br>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="document">
                    <button type="submit">Upload</button>
                </form>
                <br>
                {% for value in test %}
                    <h3>{{value}}</h3>
                {% endfor %}
                <br>
                <br>
                <div class="col-12">
                    <!--<div class="col-md-6">
                        <p>Uploaded file: <img src="{{input_image.url}}" width="480"></img></p>
                    </div>-->
                    <div class="row-md-3">
                        <p>This is the Heat Map of the Last Convulation Layer in the Model for Covid vs Pneumonia<img src="{{gradcam1.url}}" width="1080" height = "360"></img></p>
                    </div>
                    <div class="row-md-3">
                        <p>Featuremap for Covid vs Pneumonia<img src="{{featureMap1.url}}" width="1080" height = "360"></img></p>
                    </div>
                    <div class="row-md-3">
                        <p>This is the Heat Map of the Last Convulation Layer in the Model for Normal vs Pneumonia<img src="{{gradcam2.url}}" width="1080" height = "360"></img></p>
                    </div>
                    <div class="row-md-3">
                        <p>Featuremap for Normal vs Pneumonia<img src="{{featureMap2.url}}" width="1080" height = "360"></img></p>
                    </div>
                </div>
            </div>
            <!--{% if userimages is assigned %}
            <p>Uploaded file: <img src="$userimages.input_image.url" width="240"></img></p>
            {% endif %}-->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>